.section__product-details {
    margin-bottom: 60px;
    .slider-wrapper {
        width: 800px;
        height: auto;
        position: relative;
        .splide {
            margin-bottom: 50px;
        }
        .splide__slide img {
            width: 100%;
            height: auto;
        }
    }
    .product_d_right {
        h1 {
            text-transform: capitalize;
            line-height: 20px;
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 22px;
        }
        .product_nav {
            float: left;
            position: relative;
            top: -46px;
            ul li {
                display: inline-block;
                margin-right: 3px;
                a {
                    background: #fdb813;
                    border-radius: 3px;
                    color: #ffffff;
                    display: block;
                    font-size: 15px;
                    height: 30px;
                    width: 30px;
                    line-height: 28px;
                    text-align: center;
                }
            }
            ul li:first-child {
                margin-right: 0;
            }
        }
        .product_ratting {
            margin-bottom: 17px;
            ul li {
                display: inline-block;
                a {
                    color: $color-light-orange;
                }
            }
        }
        .price_box {
            margin-bottom: 14px;
            span.current_price {
                font-size: 23px;
                color: red;
            }
            span.old_price {
                font-size: 18px;
                text-decoration: line-through;
                margin-right: 10px;
            }
        }
        .product_desc {
            margin-bottom: 19px;
            padding-bottom: 24px;
            border-bottom: 1px solid #ededed;
            p {
                font-size: 14px;
                line-height: 26px;
            }
        }
        .product_variant {
            margin-bottom: 26px;
            h3 {
                font-weight: 500;
                text-transform: capitalize;
                font-size: 18px;
                margin-bottom: 0;
                margin-left: 40px;
            }
            label {
                font-size: 15px;
                font-weight: 500;
                text-transform: capitalize;
            }
            ul li {
                display: inline-block;
                padding: 2px;
                border: 1px solid #ccc;
                margin-left: 5px;
            }
            ul li .color1 a {
                background: #000000;
            }
            ul li .color2 a {
                background: #BEBEBE;
            }
            ul li .color3 a {
                background: #FE0000;
            }
            ul li .color4 a {
                background: #FFFF01;
            }
        }
        .product_variant.quantity {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            label {
                font-weight: 500;
                text-transform: capitalize;
                font-size: 14px;
                margin-bottom: 0;
            }
            input {
                width: 130px;
                border: 1px solid #ebebeb;
                background: none;
                height: 42px;
                padding: 0 12px;
                border-radius: 5px;
                margin-right: 15px;
            }
            input::placeholder {
                font-size: 10px;
                color: $color-gray !important;
            }
            button {
                border: 0;
                font-size: 16px;
                margin-right: 20px;
                background: $color-light-orange;
                height: 42px;
                line-height: 42px;
                text-transform: capitalize;
                border-radius: 4px !important;
                min-width: 270px;
                i {
                    margin-left: 10px;
                }
            }
        }
        .product_d_action {
            margin-bottom: 14px;
            ul li a {
                font-size: 14px;
                line-height: 28px;
            }
            ul li a:hover {
                color: $color-light-orange !important;
            }
        }
        .product_meta {
            margin-bottom: 24px;
            span {
                font-weight: 500;
                a {
                    color: #333;
                    margin-right: 10px;
                    font-weight: 400;
                }
            }
        }
        .product_social ul li {
            display: inline-block;
            // margin-left: 7px;
            color: $white;
            a {
                padding: 5px;
                padding-left: 5px;
                border-radius: 3px;
                font-size: 12px;
            }
            a.facebook {
                background: #3B5999;
            }
            a.twitter {
                background: #1DA1F2;
            }
            a.pinterest {
                background: #CB2028;
            }
            a.google-plus {
                background: #fe6d4c;
            }
            a.linkedin {
                background: #010103;
            }
        }
    }
}

.product_d_inner {
    padding: 20px 30px 50px;
    background: $white;
    .product_info_button {
        border-bottom: 1px solid $color-line;
        padding-bottom: 15px;
        margin-bottom: 40px;
        ul {
            justify-content: center;
            li a {
                display: block;
                float: right;
                text-transform: capitalize;
                font-size: 20px;
                color: #a9a9a9;
                font-weight: 600;
                margin-left: 35px;
                line-height: 26px;
                position: relative;
                padding-bottom: 10px;
            }
            li a.active {
                color: #333333;
            }
            li a.active::before {
                width: 100%;
            }
            li a::before {
                position: absolute;
                content: "";
                width: 0;
                right: 0;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                bottom: 0;
                height: 2px;
                background: $color-light-orange;
            }
            li:last-child a {
                margin-left: 0;
            }
        }
    }
    .tab-content {
        >.tab-pane.active {
            display: block;
            height: auto;
            opacity: 1;
            overflow: visible;
        }
        >.tab-pane {
            display: block;
            height: 0;
            opacity: 0;
            overflow: hidden;
            .product_info_content {
                p {
                    line-height: 28px;
                }
            }
            .product_d_table {
                padding: 10px 0 22px;
                table {
                    border-top: 1px solid $color-line;
                    width: 100%;
                    tbody tr {
                        border-bottom: 1px solid $color-line;
                        td:first-child {
                            border-left: 1px solid $color-line;
                            width: 30%;
                            font-weight: 700;
                        }
                        td {
                            padding: 7px 17px;
                        }
                    }
                }
            }
            .reviews_wrapper {
                h2 {
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
                .reviews_comment_box {
                    display: flex;
                    margin-bottom: 22px;
                    .comment_text {
                        width: 100%;
                        border: 1px solid #ededed;
                        position: relative;
                        margin-right: 21px;
                        padding: 12px;
                        border-radius: 3px;
                        .star_rating {
                            float: left;
                            ul li {
                                display: inline-block;
                                a {
                                    color: $color-light-orange;
                                }
                            }
                            .reviews_meta {
                                p {
                                    font-size: 15px;
                                    margin-bottom: 15px;
                                    strong {
                                        text-transform: uppercase;
                                        font-weight: 500;
                                        color: #333;
                                    }
                                }
                            }
                        }
                        .comment_answer {
                            // float: left;
                            text-align: left;
                            button {
                                border: none;
                                // background: $color-light-orange;
                                color: $color-black !important;
                                text-transform: uppercase;
                                font-weight: 700;
                                padding: 5px 15px;
                                -webkit-transition: 0.3s;
                                transition: 0.3s;
                                cursor: pointer;
                                // margin-top: 20px;
                                border-radius: 5px;
                            }
                        }
                    }
                    .comment_text::before {
                        background: #fff;
                        border-bottom: 1px solid #ededed;
                        border-right: 1px solid #ededed;
                        content: '';
                        display: block;
                        height: 10px;
                        right: -6px;
                        position: absolute;
                        top: 10px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        width: 10px;
                    }
                }
                .comment_title {
                    margin-bottom: 20px;
                    h2 {
                        padding-bottom: 10px;
                    }
                }
                .product_ratting {
                    margin-bottom: 20px;
                }
                .product_review_form {
                    margin-bottom: 20px;
                    textarea {
                        border: 1px solid $color-line;
                        background: none;
                        height: 120px;
                        resize: none;
                        width: 100%;
                        margin: 10px 0;
                        padding: 0 20px;
                    }
                    input {
                        border: 1px solid $color-line;
                        background: none;
                        width: 100%;
                        height: 40px;
                        padding: 0 20px;
                        margin: 10px 0;
                    }
                    input::placeholder {
                        font-size: 10px;
                        color: $color-gray !important;
                    }
                    button {
                        border: none;
                        background: $color-light-orange;
                        color: $white;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 5px 15px;
                        display: block;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                        cursor: pointer;
                        margin-top: 20px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .section__product-details {
        .product_d_right {
            margin-bottom: 20px;
        }
        #secondary-slider {
            margin-bottom: 50px;
        }
    }
}

@media only screen and (max-width: 481px) and (min-width: 300px) {
    .slider-wrapper {
        width: 600px;
    }
    #secondary-slider {
        margin-bottom: 30px;
    }
    .product_variant button {
        font-size: 14px;
        margin-right: 0px;
        min-width: 200px !important;
    }
}